@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    background-color: white;
    --primary-color: #888888;
}

body
{
    font-family: 'Quicksand';
    font-size: 1em;
    margin: 2em;
    background-color: white;
}

p {
    font-size: 1em;
    line-height: 1.6em;
    color: var(--primary-color);
}

h1
{
    color: black;
}



a
{
    color: #444444;
    text-decoration: none;
}

ul
{
    list-style-type:  none;
    margin: 0;
    padding: 0
}

section {
    padding:2em;
    margin: 0;
  }

.container
{
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-width: 3px;
    padding: .5em;
}

/* -------- Nav bar style------------- */
.navbar {
    background: white;
    padding: 1em;
    font-size: 1.5em;
  }


/* .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  } */

.navbar .container
{
    text-align: center;
    padding: .8em 1.2em;
}

/* ------- About style ---------- */

.about .container
{
    padding: 2.em;
    margin: 1em;
    font-size: 1.4em;
}

/*----------- project style ---------*/
.projects-section .container ul li
{
    padding: 0.3em;
    font-size: 1.1em;
}

/*------------ foot style ------------ */
.footer ul li 
{   
    font-size: 1.1em;
    color: #888888;
}

/* p.bottomline
{
    border-style: none none solid none;
} */

@media only screen and (min-width: 725px)
{
    .desktop-nav
    {
        display: float;
    }

    .mobile-nav
    {
        display: hidden;
    }
}