
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Maven+Pro&family=Open+Sans&family=Quicksand:wght@500&display=swap');
:root {
    background-color: white;
    --primary-color: #585858;
}

.navbar,.body-2,body,.title,.company
{
    font-size: 1.2em;
    margin:0 auto 0 auto;
    background-color: rgba(255, 255, 255, 0.014);
    -webkit-font-feature-settings:"kern", "liga", "pnum";
    -moz-font-feature-settings:"kern", "liga", "pnum";
    -ms-font-feature-settings:"kern", "liga", "pnum";
    font-feature-settings:"kern", "liga", "pnum";
    -webkit-font-smoothing:antialiased;
    color:#28373b;
    font-family:"Lato";
    font-weight:400;
    font-style:normal;
}

.course,h3
{
    font-size: 1.2em;
    margin:0 auto 0 auto;
    background-color: rgba(255, 255, 255, 0.014);
    -webkit-font-feature-settings:"kern", "liga", "pnum";
    -moz-font-feature-settings:"kern", "liga", "pnum";
    -ms-font-feature-settings:"kern", "liga", "pnum";
    font-feature-settings:"kern", "liga", "pnum";
    -webkit-font-smoothing:antialiased;
    color:#28373b;
    font-family:"Lato";
    font-weight:400;
    font-style:normal;
}

.project-title, h2,h4
{
    -webkit-font-feature-settings:"kern", "liga", "pnum";
    -moz-font-feature-settings:"kern", "liga", "pnum";
    -ms-font-feature-settings:"kern", "liga", "pnum";
    font-feature-settings:"kern", "liga", "pnum";
    -webkit-font-smoothing:antialiased;
    color:#2b2b2b;
    font-family:"Lato";
    font-weight:500;
    font-style:normal;
}

.company,.mark
{
    margin-top: 1.5em;
}

.mobile-menu
{
    display: flex;
    float: right;
}

.about
{
    font-family: 'Quicksand';
    font-size: 1.2em;
    background-color: white;
}

/* html 
{
    height: 100%;
} */
body
{
    min-height: 100vh;
    padding: 0;
}
/* body 
{
    height: 100vh;
    padding: 0;
} */

p {
    font-size: 1em;
    line-height: 1.6em;
    color: var(--primary-color);
}

h1
{
    color: rgba(29, 29, 29, 0.863);
    margin-top: 0.3em;
    margin-bottom: 0;
}

h2,h3
{
    color: rgb(68, 68, 68);
}

a
{
    color: #525252;
    text-decoration: none;
}

p,a
{
    letter-spacing: 1px;
}

h3,h1,h4,h5,span
{
    letter-spacing: 2px;
}

h2
{
    letter-spacing: 3px;
    font-family: 'Maven Pro';
}

.unimelb,.company
{
    font-family: 'Quicksand';
    color: var(--primary-color);
}

.time 
{
    font-family: 'Maven Pro';
}

.about-self-img
{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center top;
    display: block;
    margin: auto auto;
    border-radius: 8%;
    filter: saturate(70%);
    border-color: #ccccccd8;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 5px 0 rgba(6, 32, 28, 0.281);
}

.skill-elements
{
    position: relative;
    float: right;
    display: flex;
    /* clear: both; */
    flex-wrap: wrap;
    width: 100%;
}

.self-text-div
{
    display: block;
    margin: 1em 1em;
    position: relative;
}

.self-text-div p
{

    margin-bottom: auto;
    display: block;
}

.self-img-div
{
    display: flex;
    justify-content: center;
    width: 100%;
}

ul
{
    list-style-type:  none;
    margin: 0;
    padding: 0
}

.about-text-div
{
    
    /* text-align: justify; */
    padding: 0 1em;
    border-radius: 0.5rem;
    background-color: #c7c7c74f;
    box-shadow: 0 3px 40px 0 #d6d6d64f;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: #d6d6d6ab;
    padding-bottom: 1em;
}

section
{
    padding-top: 5em;
}

.about 
{
    margin: 0;
    padding-top: 0;
}

.git-link
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.in-git-link
{
    margin: 1em 0;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.git-link a
{
    display: block;
    margin: 0.5em 0.5em 0em 0.5em;
}


#gh:hover
{
    color: #040e0f;
    
}

#enve:hover
{
    color: rgb(145, 123, 3);
}

#call:hover
{
    color: rgb(88, 180, 129);
}

#lk:hover
{
    color:#006192;
}

.container
{
    /* margin-top: 0.3em; */
    border-bottom-width: 3px;

    top: 0;
}


/* -------- Nav bar style------------- */
.navbar {
    
    font-size: 1.2em;
    float: right;
    /* width: 100%; */
    background-color: #ffffff00;
    /* border-radius: 1em; */
    height: 65px;
    position: absolute;
    left: 0;
    right: 0;
}

.navbar .mobile-menu, #menu-div-id, #close-div-id
{
    color: whitesmoke;
    margin: 0.8em 0;
}



.about-image
{
    display: block;
    position: relative;
    top: 0;
}

.scrolled
{
    height: 65px;
    background-color: #ffffffdc;
    border-bottom-color: #d2d2d282;
    border-bottom-style: solid ;
}

.scrolled .mobile-menu,.scrolled #menu-div-id,.scrolled #close-div-id
{
    color:var(--primary-color)
}

.scrolled .menu-btn
{
    background-color: rgba(245, 245, 245, 0.76);
    border-color: #555555d8;
}

nav
{
    z-index: 999;

}

.home 
{
    float: left;
    display: flex;
    padding: 0;
    margin: 0;
    /* padding-top: 0.1em; */
}

.home a
{
    color: black;
    display: flex;

}

/* .desktop-nav
{
    display: none;
    justify-content: space-between;
} */

.menu-div,.fa-bars
{
    padding-top: 0.1em;
    display: block;
    float: right;
}
.fa-bars,.fa-times
{
    padding-left: 0.4em;
}

.end-page
{
    margin-left: 1em;
    margin-top: 5em;
}

.end-page p
{
    font-size:x-small;
}

.menu-div
{
    cursor: pointer;
}

.fa-times
{
    float: right;
    padding-top: 0.1em;
    display: block;
    width: 1.2em;
    height: 1em;
    padding-right: 0.2em;
    padding-bottom: 0.1em;
}



.close-div
{
    float: right;
    display: block;
    cursor: pointer;
}

.show-menu
{
    display: none;
}

.desktop-nav
{
    float: right;
    /* padding-left: 2em; */
    width: 200px;
    display: block;
    /* background: rgba(255, 255, 255, 0.26); */
}


.navbar .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    right: 0;
    top: 0;
    z-index: 999;
    float: right;
    width: 100%;
    /* margin: auto; */
  }



/* .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  } */

.navbar .container
{
    text-align: center;
    padding: .2em 2em .2em 2em;
    display: flex;
    float: center;
}

/* .menu-btn li
{
    padding: 0.8em 0 0.8em 0;
} */

.underline,.home .mobile-menu
{
    /* margin: 0.8em 0; */
}


.underline, .anbout-nav a
{
    position:relative;
    text-decoration:none;
    /* display:inline-block; */
}
.underline:after, .about-nav a:after
{
    display:block;
    content: '';
    border-bottom: solid 2px whitesmoke;  
    transform: scaleX(0);  
    transition: transform 400ms ease-in-out;
    transform-origin:100% 50%
}

.scrolled .underline::after
{
    border-bottom:solid 2px #555555d8;
}

.about-nav a:after
{
    border-bottom: solid 2px rgb(218, 255, 255);  
}

.underline:hover:after, .about-nav a:hover:after
{ 
    transform: scaleX(1);
    transform-origin:0 50%;
}

.underline:hover, .about-nav a:hover
{
    font-weight: bold;
}

/* ------- About style ---------- */

.about .container
{
    position: absolute;
    font-size: 1.4em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
}

.info-about
{
    padding: 2em;
    margin: 1em;
    position: absolute;
    top: 50%;
    /* left: 30%; */
    transform: translate(-50%, -50%);
}

.about
{
    padding-bottom: 0;
    position: relative;
}

.about-image
{
    /* Add the blur effect */
    /* filter: grayscale(80%);
    filter: blur(1px); */
    filter: brightness(30%);
    /* -webkit-filter: blur(1px); */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center 10%;
}

.blacklayer
{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.493);
    z-index: 3;
}

/* ---------- skill style -----------*/

.skill-container
{
    justify-content: center;
}

.left-col,.right-col
{
    text-align: justify;
    width: 100%;
    display: inline-block;
}

.skill-elements
{
    display: flex;
}

.project-item-div .proficiency-col
{
    max-width: 120px;
}

.proficiency-col
{
    display: inline-block;
    /* white-space: nowrap; */
    border-style: solid;
    border-color: rgb(179, 179, 179);
    text-align: center;
    padding: 0.25em .5em;
    border-radius: 0.5em;
    margin: 0.5em 0.25em;
    max-width: 100px; 
    text-overflow: hidden;
    color: #2c2c2c;
    border-width: 0.15em;
    box-shadow: 0 0 2px 0 #28373b;
    overflow: hidden;
}

/* --------------- education style --------*/

.education-section .container
{
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.education-section ul
{
    z-index: 2;
    position: relative;
}

.edu-container div,.exp-container div
{
    /* background-color: rgba(182, 182, 182, 0.103); */
    /* box-shadow: 0 3px 40px 0 #c7c7c74f; */
    border-radius: 0.8rem;
    padding-left: 1rem;
    /* padding-right: 1rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-color: #ccccccd8;
    margin: 0.5em 0.5em;
    padding-right: 1rem;
}


.education-section .edu-photo
{
    position: absolute;
    right: 5%;
    top: 0%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
    height: 405px;
    width: auto;
    filter: grayscale(100%) blur(0px) brightness(1000%);

}

/*----------- project style ---------*/
.projects-section .container ul li
{
    padding: 0.3em;
    font-size: 1.1em;
    margin: 0 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.clicked
{
    display: none;
    position: relative;
}

#chessbot .img-holder
{
    background-image: linear-gradient(to bottom right,
            rgba(141, 141, 141, 0.884)
            ,rgba(78, 78, 78, 0.603)
            ,rgba(168, 168, 168, 0.284))
            , url(../image/thumbnail-chess-bot.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:100%;
    transition: all 0.5s;
    /* z-index: 999; */
    /* background-color: #cccccc; */
    /* z-index: 2; */
}

.img-scale
{
    transform: scale(1.05);
}

.sum-background
{
    height: 100%;
    background-color: #000000d4;
}

.readmore .left-col
{
    display: flex;
    justify-content: space-between;
}


.readmore .proficiency-col
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 555;
}

#asc .img-holder
{
    background-image: linear-gradient(to bottom right,
            rgba(85, 85, 85, 0.884)
            ,rgba(78, 78, 78, 0.603)
            ,rgba(168, 168, 168, 0.284))
            , url(../image/thumbnail-asc.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    transition: all 0.5s;
}

#p-web .img-holder
{
    background-image: linear-gradient(to bottom left,
            rgba(53, 53, 53, 0.842)
            ,rgba(78, 78, 78, 0.342)
            ,rgba(53, 53, 53, 0.678))
            , url(../image/thumbnail-personal-web.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    transition: all 0.5s;
}

.project-item-div
{
    overflow: hidden;
}

/* .img-holder:hover
{
    transform: scale(1.05);
} */

.chessbot h4
,.chessbot .project-skill-div
,.chessbot .proficiency-col
,#asc h4
,#asc .project-skill-div
,#asc .proficiency-col
,#p-web h4
,#p-web .project-skill-div
,#p-web .proficiency-col
{
    color: white;
    font-weight: 500;
}

.chessbot .proficiency-col
,#asc .proficiency-col
,#p-web .proficiency-col
{
    background-color: rgba(51, 51, 51, 0.61);
    font-weight: 500;
}

.chessbot .project-title
{
    color: rgb(255, 234, 195);
    font-weight: 600;
}
#asc .project-title
{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#p-web .project-title
{
    color: #22fadd;
    font-weight: 600;
}


.project-item-div li
{
    position: absolute;
}

.projects-container ul
{
    width: 100%;
}

.projects-container a
{
    width: 47%;
    margin: 0.8em 0;
}

.project-skill-div
{
    position: absolute;
    bottom: 0;
    padding: 1em 0em;
}
.project-skill-div .proficiency-col
{
    border-color: #e7e7e7;
}

.projects-container .project-item-div
{
    /* content: ''; */
    /* background-color: rgba(51, 51, 51, 0.356); */
    width: 100%;
    height: 500px;
    border-style: solid;
    border-color: #ccccccd8;
    margin: 0.25em 0.25em;
    border-radius: 0.8rem;
    position: relative;
}

.projects-container .project-item-div:hover
{
    background-color: rgba(51, 51, 51, 0.24);
    box-shadow: 0px 0px 10px 1px #888888;
}


/*------------ foot style ------------ */
.footer ul li 
{   
    font-size: 1.1em;
    color: #888888;
}

/* p.bottomline
{
    margin-top: 2rem;
    border-style: none none solid none;
    border-color: rgba(221, 221, 221, 0.562) ;
} */

@media only screen and (min-width: 834px)
{
    .navbar nav .desktop-nav
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        /* background-color: #ffffffdc; */
    }

    .about-text-div
    {
        display: flex;
        justify-content: space-evenly;
    }

    .left-col,.right-col
    {
        text-align: justify;
        width: 48%;
        /* display: flex; */
    }

    .project-skill-div .left-col
    {
        width: 100%;
    }

    .underline::after
    {
        border-bottom: solid 2px whitesmoke;
        
    }

    .scrolled .underline::after
    {
        border-bottom: solid 2px var(--primary-color);
        
    }

    .info-about
    {
        left: 30%;
    }

    .navbar .container
    {
        width: auto;
        position: absolute;
        right: 0;
        left: 0;
        padding-left: 2em;
        padding-right: 2em;
    }

    .navbar nav
    {
        width: 100%;
    }
    .navbar
    {
        position: sticky;
        z-index: 999;
        top: 0;
        width: 100%;
    }

    .menu-div, .close-div
    {
        display: none;
    }

    .info-about
    {
        padding-bottom: 0;
    }


    /* .desktop-nav a
    {
        display: block;
        background-color: rgba(255, 255, 255, 0.205);
        text-align: center;
        color: black;
    } */


    .desktop-nav .menu-list
    {
        float: right;
        width: 60%;
        display: flex;
        /* color: white; */
        text-align: right;
        position: absolute;
        padding-left: 2em;
        /* background-color: #ffffffdc; */
        border-radius: 0.3em 0.2em 0.3em 0.3em;
        place-content: space-between;
        z-index: 9999;
        right: 0;
    }

    .desktop-nav .menu-btn
    {
        float: right;
        width: 100%;
        display: flex;
        /* color: white; */
        text-align: right;
        position: relative;
        padding-right: 1em;
        padding-left: 4em;
        /* background-color: #ffffffdc; */
        border-radius: 0.3em 0.2em 0.3em 0.3em;
        place-content: space-between;
        z-index: 9999;
    }

    .menu-btn li 
    {
        padding: 0;
    }

    .body-2 
    {
        margin: 0em 3em 3em 3em;
    }

    .navbar
    {
        margin-bottom: 0;
        
    }

    .self-img-div
    {
        width: 30%;
    }

    .self-text-div
    {
        width: 70%;
    }

}

@media only screen and (max-width: 834px)
{
    .desktop-nav .menu-list
    {
        float: right;
        width: 66%;
        display: none;
    }

    #icon
    {
        font-size: 25px;
    }

    .social-contact
    {
        width: 170px;
    }

    .menu-btn
    {
        background-color: rgba(245, 245, 245, 0.075);
    }

    .about .container
    {
        /* position: relative; */
        font-size: 1.2em
    }

    .info-about
    {
        position: absolute;
        /* left: 0; */
        left: 40%;

        padding-bottom: 1em;
        margin-top: 4em;
        width: 70%;
    }

    .about-self-img
    {
        width: 150px;
        height: 150px;
    }

    .self-img-div
    {
        padding: 1em 0;
    }

    .projects-container .project-item-div
    {
        width: 100%;
        margin: 2em 0;
        height: 500px;
    }

    /* .img-holder
    {
        height: 500px;
    } */


    .body-2
    {
        margin-left: 2em;
        margin-right: 2em;
    }

    .navbar
    {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999;
    }


    .menu-btn
    {
        float: right;
        width: 80%;
        display: block;
        color: white;
        text-align: right;
        position: relative;
        padding-right: 1em;
        /* background-color: #fafafaf0; */
        background-color: rgba(245, 245, 245, 0.151);
        border-radius: 0.3em 0.2em 0.3em 0.3em;
        box-shadow: 0 5px 10px 0 #0000004f;
        z-index: 9999;
        font-size: 1.2em;
        margin-top: 1em;
        border-style: solid;
        border-color:whitesmoke;
        border-width: 0.15em;
        padding-left: 1em;
    }

    /* .menu-btn a
    {
        color: #ececec;
    } */
}

@media only screen and (min-width: 1350px)
{
    .body-2
    {
        margin: 0 auto  3em auto;
        width: 1200px;
    }

    .projects-container a
    {
        width: 47%;
        margin: 0.8em 0;
    }

    .navbar .container
    {
        position: absolute;
        left: 0;
        right: 0;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .info-about
    {
        padding-left: 6em;
    }


    .navbar
    {
        position: sticky;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    .about-self-img
    {
        width: 230px;
        height: 230px;
    }
}

@media only screen and (max-width: 415px)
{   
    .about .container
    {
        font-size: 0.8em;
        /* height: 800px;
        width: 100%; */
    }

    #icon
    {
        font-size: 20px;
    }

    .social-contact
    {
        width: 40%;
    }


    .info-about
    {
        margin-top: 5em;
    }

    .desktop-nav
    {
        /* height: 100px; */
        width: 150px;
        display: block;
    }

    body
    {
        font-size: 0.9em;
        /* margin:0.5em 0em 1em 0em; */
    }

    .navbar
    {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999;
        /* height: 50px; */
    }

    .desktop-nav .menu-list
    {
        float: right;
        width: 66%;
        display: none;
    }

    .info-about
    {
        padding-bottom: 0;
    }

    /* .menu-btn
    {
        float: right;
        width: 150px;
        display: block;
        color: white;
        text-align: right;
        position: relative;
        padding-right: 1em;
        background-color: #fafafaf0;
        border-radius: 0.3em 0.2em 0.3em 0.3em;
        box-shadow: 0 5px 10px 0 #0000004f;
        z-index: 9999;
    } */

    .education-section .container
    {
        position: relative;
        overflow: hidden;
    }

    .education-section ul
    {
        z-index: 2;
        position: relative;
    }

    .edu-photo
    {
        position: absolute;
        right: 55%;
        top: 0%;
        z-index: 3;
        opacity: 0.5;
        overflow: hidden;
        height: 405px;
        width: auto;
        filter: grayscale(100%) blur(0px) brightness(1000%);
    }

}

@media only screen and (min-width: 834px)
{
    .edu-container ul,.skill-container
    {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .projects-container ul
    {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .edu-container div
    {
        display: flex;
        text-align: left;
        width: 45%;
    }

    .exp-container div 
    {
        display: flex;
        text-align: left;
        width: 47%;
    }

    .exp-container ul 
    {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    #icon
    {
        font-size: 30px;
    }

    .social-contact
    {
        width: 200px;
    }

}

@media only screen and (max-height: 812px) 
{
    .about
    {
        height: 730px;
    }
}

@media only screen and (max-height: 900px) 
{
    .about
    {
        height: 800px;
    }
}

@media only screen and (min-height: 901px) 
{
    .about
    {
        height: 1000px;
    }
}