@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    background-color: white;
    --primary-color: #777777;
}

body
{
    font-family: 'Quicksand';
    font-size: 1.2em;
    margin: 2em;
    background-color: white;
}

p {
    font-size: 1em;
    line-height: 1.6em;
    color: var(--primary-color);
}

h1
{
    color: black;
    margin-top: 0.3em;
    margin-bottom: 0;
}

a
{
    color: #444444;
    text-decoration: none;
}

ul
{
    list-style-type:  none;
    margin: 0;
    padding: 0
}

section {
    padding:2em;
    margin: 0;
  }

.container
{
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-width: 3px;
    padding: .5em;
}

/* -------- Nav bar style------------- */
.navbar {
    
    font-size: 1.2em;
    padding: 0 1em 1em 1em;
  }

nav
{
    z-index: 999;

}

/* .desktop-nav
{
    display: none;
    justify-content: space-between;
} */

.menu-div,.fa-bars
{
    padding-top: 0.1em;
    display: block;
    float: right;
}
.fa-bars,.fa-times
{
    padding-left: 0.5em;
}

.menu-btn
{
    display: inline-block;
    float: right;
}

.menu-div
{
    cursor: pointer;
}

.fa-times
{
    float: right;
    padding-top: 0.2em;
    display: block;
}

.close-div
{
    float: right;
    display: block;
}

.desktop-nav
{
    float: right;
    padding-left: 2em;
    background: rgba(255, 255, 255, 0.26);
}

.desktop-nav a
{
    float: right;
    width: 66%;
    display: block;
    color: white;
    text-align: center;
    position: relative;
}



/* .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  } */

.navbar .container
{
    text-align: center;
    padding: .8em 1.2em;
}

/* ------- About style ---------- */

.about .container
{
    padding: 2.em;
    margin: 1em;
    font-size: 1.4em;
}

/*----------- project style ---------*/
.projects-section .container ul li
{
    padding: 0.3em;
    font-size: 1.1em;
}

/*------------ foot style ------------ */
.footer ul li 
{   
    font-size: 1.1em;
    color: #888888;
}

/* p.bottomline
{
    border-style: none none solid none;
} */

@media only screen and (min-width: 725px)
{
    .navbar nav .desktop-nav
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.205);
    }

    .menu-div, .close-div
    {
        display: none;
    }

    .desktop-nav a
    {
        display: block;
        background-color: rgba(255, 255, 255, 0.205);
        text-align: center;
        color: black;
    }
}

@media only screen and (max-width: 725px)
{
    .desktop-nav
    {
        overflow: hidden;
        background-color: #878a8f;
    }
}